body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #393e46;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

header{
    align-content: start;
    background: #222831;
    width: 100%;
    height: 15%;
    padding: 10px
}

.social{
    position: fixed;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-360px, 0);
}

.social a{
    color: #393e46;
    background: #eeeeee;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 15px;
    width: 400px;
    text-align: right;
    border-radius: 15px;
    transition: 1s;
    transition-property: transform;
}

.social a:hover{
    transform: translate(130px, 0);
}

.social img{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.social a:nth-child(1) img{
    color: #393e46;
}

.social a:nth-child(2) img{
    color: #393e46;
}

.social a:nth-child(3) img{
    color: #393e46;
    background-clip: text;
    font-weight: 600;
}

.conteudo-principal {
    color: #222831;
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #eeeeee;
    border-radius: 8px;
    box-shadow: #393e46;
}

.container{
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 25%;
}

.logo img{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.menu{
    width: 100%;
}

.menu nav a{
    color: #eeeeee;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.titulo-principal {
    color: #ff7100;
}

.titulo-principal span:hover {
    background-color: #393e46;
}

span {
    border: 1px solid #393e46;
    padding: 10px;
    border-radius: 8px;
}

footer{
    background: #222831;
    color: #eeeeee;
    text-align: center;
    padding: 1em 0;
    margin: 100px;
    width: 90%;
}

@media screen and (max-width:768px) {

}